{% extends 'base.html' %}

{% block content %}

<h1 class="m-3">{{topic.name}}</h1>

<div class="m-3">
    <ul>
        {% for line in desc %}
        <li>
            {{line}}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="m-3">
    <h2>Videos</h2>
    <table class="table table-striped">
        <tr>
            <th>Video Name</th>
            <th>Video Length</th>
            <th>Basics</th>
            <th>In-depth</th>
            <th>Engaging</th>
            <th>Fav.</th>
        </tr>
        {% for video in topic.videos %}
        <tr>
            <td><a href="youtube.com/{{ video.id }}">{% if video.title()|length > 30 %}
                {{ video.title()[:30] }}...
              {% else %}
                {{ video.title() }}
              {% endif %}</a></td>
            <td>{{ video.readable_duration() }}</td>
            <td>
                <form method="POST" action="/videos/{{ video.id }}/basic">
                    <button class="btn btn-sm">
                        <i class="{{'fa-solid' if video in g.user.basic_votes else 'fa-regular'}} fa-thumbs-up"></i>
                    </button> {{ video.basic_vote_users | length }}
                </form>
            </td>
            <td>
                <form method="POST" action="/videos/{{ video.id }}/depth">
                    <button class="btn btn-sm">
                        <i class="{{'fa-solid' if video in g.user.depth_votes else 'fa-regular'}} fa-thumbs-up"></i>
                    </button> {{ video.depth_vote_users | length }}
                </form>
            </td>
            <td>
                <form method="POST" action="/videos/{{ video.id }}/engage">
                    <button class="btn btn-sm">
                        <i class="{{'fa-solid' if video in g.user.engage_votes else 'fa-regular'}} fa-thumbs-up"></i>
                    </button> {{ video.engage_vote_users | length }}
                </form>
            </td>
            <td>
                <form method="POST" action="/videos/{{ video.id }}/favorite">
                    <button class="btn btn-sm">
                        <i class="{{'fa-solid' if video in g.user.favorites else 'fa-regular'}} fa-star"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}