{% extends 'base.html' %}

{% block content %}

<div class="m-3">
    <h1>Video</h1>

    <div class="vidPlayer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="m-3 row voteBlock">
        <div class ="voteContainer col-sm-6 col-xl-4">
            <p>Best Basics: {{ video.basic_vote_users | length }}</p>
        </div>
        <div class ="voteContainer col-sm-6 col-xl-4">
            <p>Best In-Depth: {{ video.depth_vote_users | length }}</p>
        </div>
        <div class ="voteContainer col-sm-6 col-xl-4">
            <p>Most Engaging: {{ video.engage_vote_users | length }}</p>
        </div>
    </div>

</div>

{% endblock %}