body {
    position: relative;
    min-height: 97.5vh;
}

.content-wrap {
    padding-bottom: 4rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.navbar {
    background-color: #FFFAA0;
}

.integralDiv {
    display: flex;
}

.integral {
    margin-top: -20px;
    width: 33vw;
    height: 50px;
}

.darkModeSwitch {
    display: flex;
    justify-content: right;
}

.userForm {
    width: 500px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 80px;
}

.vidPlayer {
    display: flex;
    justify-content: center;
}

.voteBlock .voteContainer, .voteBlock .favContainer {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.voteBlock .voteCount {
    margin-left: 5px;
}

.voteBlock .voteForm , voteBlock .favForm{
    display: inline;
}

.voteBlock .voteIcon {
    margin-top: 1px;
    vertical-align: top;
}

.videoTable .voteContainer, .videoTable .favContainer {
    display: flex;
    justify-content: left;
}

.videoTable .voteCount {
    margin-left: 5px;
}

.videoTable .voteForm {
    display: inline;
}

.videoTable .voteIcon {
    margin-top: 1px;
    margin-left: -7px;
    vertical-align: top;
}
