{% extends 'base.html' %}

{% block content %}

<div class="m-3">
    <h1>Additional Resources:</h1>
    <ul>
        <li>
            Official College Board websites:
            <ul>
                <li>
                    <a href="https://apstudents.collegeboard.org/courses/ap-calculus-ab">For AP Calculus AB</a>
                </li>
                <li>
                    <a href="https://apstudents.collegeboard.org/courses/ap-calculus-bc">For AP Calculus BC</a>
                </li>
            </ul>
        </li>
        <li>
            More learning material and practice: <a href="https://www.khanacademy.org/math/get-ready-for-ap-calc">KhanAcademy</a>
        </li>
        <li>
            A great resource for learning concepts hands-on : <a href="https://brilliant.org/">brilliant.org/</a>
        </li>
    </ul>
</div>

{% endblock %}